html,
body {
    height: 100%;
}

body {
    @include font(text, true);
    min-width: 320px;
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    word-wrap: normal;
}

html {
    box-sizing: border-box;
}

main {
    width: 100%;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1 {
    @include font(h1);
}

h2 {
    @include font(h2, true);
}

a {
    color: var(--color-text);
    text-decoration: none;
}

a:focus {
    outline: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body_hidden {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    min-width: initial;
    height: 1px;
    min-height: initial;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    @include make-container();
    position: relative;
    color: var(--color-text);
    background-color: var(--color-main);
}

.btn {
    @include font(btn);
    @include transition(box-shadow);
    width: 100%;
    max-width: 262px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    color: var(--color-text);
    white-space: nowrap;
    background-color: var(--color-btn);
    border: none;
    outline: 0;
    border-radius: 25px;

    &:hover,
    &:focus {
        box-shadow: 2px 5px 10px var(--color-block2-items);
    }
}

.link {
    @include font(text, true);
    @include link-hover;
}
